In [1]:
a = 10
b = 20

if a < b:
    print('beneeerr')
    
if 'ban' in 'bandung':
    print('yaa ada')
    
if 'bogor' in ['bandung','jakarta','bogor']:
    print('yaa ada')

beneeerr
yaa ada
yaa ada

In [2]:
if 'ban' in 'bandung':
    print('lulus 1')
    print('lanjuttt....')
    
    if 2 > 5:
        print('lulus 2..')
        print('lanjut lagiii..')
        
    else:
        print('yowiss')
        
print('oke')

lulus 1
lanjuttt....
yowiss
oke

In [3]:
a = 50
b = 20
c = 30

if a > b:
    print('yes betul')
    print('lanjut')
    
    if a > c:
        print('lanjut lagi..')
        
    else:
        print('selesai')

yes betul
lanjut
lanjut lagi..

In [4]:
hargaBuku = 20000
hargaMajalah = 5000
hargaCireng = 1000
uang = 3000

if uang >= hargaBuku:
    print('beli buku')
    
elif uang >= hargaMajalah and uang <= hargaBuku:
    print('beli majalah')
    
elif uang <= hargaMajalah and uang >= hargaCireng:
    print('beli cireng ajalah')
    
else:
    print('uang tidak cukup')

beli cireng ajalah

In [5]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [6]:
x = 5

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [7]:
if 'a' in 'xo':

  print('1')

elif 1/1:

  print('2')

2

In [8]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [9]:
age = 30
s = 'teen' if age < 21 else 'adult'
s

'adult'

In [10]:
'yes' if ('bar' in ['foo', 'bar', 'baz']) else 'no'

'yes'

In [11]:
a = 1
b = 2

if a > b:
    m = a
else:
    m = b
    
    
print(m)

2

In [12]:
if True:
    pass

print('foo')

foo

In [13]:
n = 5
while n > 0:
    n -= 2
    print(n)

3
1
-1

In [14]:
i = 1
while i < 30:
  print(i)
  i += 4

1
5
9
13
17
21
25
29

In [15]:
n = 1
while n < 10:
    print(n)
    n += 1.6
    if n == 9:
        break
print(n)
print('end')

1
2.6
4.2
5.800000000000001
7.4
9.0
end

In [16]:
age = 20
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

In [17]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [18]:
a = ['foo', 'bar']

while len(a):
    print('List a sebelum pop ', a)
    print(a.pop(0))
    print('List a sekarang : ', a)
    
    b = ['axx', 'bxx']
    print('List b sebelum pop ', b)
    
    while len(b):
        print('>',b.pop(0))
        print('List b sekarang : ', b)
    print('')

List a sebelum pop  ['foo', 'bar']
foo
List a sekarang :  ['bar']
List b sebelum pop  ['axx', 'bxx']
> axx
List b sekarang :  ['bxx']
> bxx
List b sekarang :  []

List a sebelum pop  ['bar']
bar
List a sekarang :  []
List b sebelum pop  ['axx', 'bxx']
> axx
List b sekarang :  ['bxx']
> bxx
List b sekarang :  []

In [19]:
for i in [1,3,4]:
    print(i)

1
3
4

In [20]:
g = {'foo': 1, 'bar': 2, 'baz': 3}
print('g:', g)
print('')

for k in g:
    print(k)
    
print('')

for k in g:
    print(g[k])
    
print('')

for k,l in g.items():
    print(k, '-->',l)

g: {'foo': 1, 'bar': 2, 'baz': 3}

foo
bar
baz

1
2
3

foo --> 1
bar --> 2
baz --> 3

In [21]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [22]:
for n in (0, 1, 2, 3, 4,10):
    print(n)

0
1
2
3
4
10

In [23]:
x = range(10)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [25]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [26]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [27]:
print("KONVERSI SATUAN TEMPERATUR CELCIUS & FAHRENHEIT")
print("")

temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_conversion = temp[-1]

if i_conversion == "C":
    result = int(round((9 * degree) / 5 + 32))
    derajat_converted = " Fahrenheit"
elif i_conversion == "F":
    result = int(round((degree - 32) * 5 / 9))
    derajat_converted = " Celcius"
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat",derajat_converted)

KONVERSI SATUAN TEMPERATUR CELCIUS & FAHRENHEIT

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 120C
Temperaturnya adalah 248 derajat  Fahrenheit

In [28]:
temp[-1]

'C'

In [29]:
temp

'120C'

In [30]:
degree

120

In [31]:
i_conversion

'C'

In [32]:
derajat_converted

' Fahrenheit'